{% extends "base_dashboard.html" %}

{% block stylesheets %}
  <link href="/static/css/faq.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
  <script src=/static/js/bootstrap.js type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="social_accounts_container">
    <h1>FAQ</h1>
    <ol>
      <li><a href="#faq-what-is">What is Instafeed?</a></li>
      <li><a href="#faq-get-started">How do I get started?</a></li>
      <li><a href="#faq-logout">Why can't I log out?</a></li>
    </ol>

    <h2 id="faq-what-is">What is Instafeed?</h2>
    <p>Instafeed is a social media aggregation site to help avoid the redundancy and headache of having to check/post 
       to all your favorite social media sites. We aim to make a product that provides easy access to all the latest updates 
       and an easy way to spread your message from one interface. Instafeed is for anyone who wants to simplify their social 
       media experience. We believe that many people have become overwhelmed with the number of popular social media 
       websites out there today and want to provide a tool that would give a better social media user experience.</p>

    <h2 id="faq-get-started">How do I get started</h2>
    <p>
      <ol>
        <li>Click sign up to create a new Instafeed account.</li>
        <li>Click accounts to start adding your social media accounts</li>
        <li>Start posting and viewing feeds</li>
      </ol>
    </p>
    
    <h2 id="faq-logout">Why can't I log out?</h2>
    <p>Good observation. We're wondering the same thing.</p>
  </div>
{% endblock %}
