{% extends "base_dashboard.html" %}

{% block stylesheets %}
  <link href="/static/css/faq.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
  <script src=/static/js/bootstrap.js type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="social_accounts_container">
    <h1>FAQ</h1>
    <ol>
      <li><a href="#faq-what-is">What is Instafeed?</a></li>
      <li><a href="#faq-get-started">How do I get started?</a></li>
      <li><a href="#faq-google">Why can't I post to Google+?</a></li>
      <li><a href="#faq-moreinfo">Where can I find out more about Instafeed?</a></li>
    </ol>

    <h2 id="faq-what-is">What is Instafeed?</h2>
    <p>Instafeed is a social media aggregation site to help avoid the redundancy and headache of having to check/post 
       to all your favorite social media sites. We aim to make a product that provides easy access to all the latest updates 
       and an easy way to spread your message from one interface. Instafeed is for anyone who wants to simplify their social 
       media experience. We believe that many people have become overwhelmed with the number of popular social media 
       websites out there today and want to provide a tool that would give a better social media user experience.</p>

    <h2 id="faq-get-started">How do I get started?</h2>
    <p>
      <ol>
        <li>Click sign up to create a new Instafeed account.</li>
        <li>Click accounts to start adding your social media accounts</li>
        <li>Start posting and viewing feeds</li>
      </ol>
    </p>
    
    <h2 id="faq-google">Why can't I post to Google+?</h2>
    <p>Google+'s API does not support posting to Google+.</p>
    <p>
      According to Google+ VP Bradley Horowitz, "Google is still taking a very
      deliberate approach to Google+'s APIs. The company doesn't want to 'disrupt something very special' and 'magical' by just opening up a full erad/write API that would allow developers to write apps that can easily post to Google+".
    </p>

    <h2 id="faq-moreinfo">Where can I find out more about Instafeed?</h2>
    <p>
      Check out our documentation to find out what's next for Instafeed!
      <ul>
        <li><a href="https://docs.google.com/document/d/106KKjbkZczlY-csV4qJy_73zKXF8rIQWZdNJlDorp4M/edit?pli=1">Release 1 Notes</a></li>
        <li><a href="https://docs.google.com/a/uw.edu/document/d/1cACWPGDFQf0q5TdmnSXwFqI1li2pR7q42rpykaH3Q9M/edit">Release 2 Notes</a></li>
        <li><a href="https://github.com/tobyk100/403-kamal/wiki">Weekly Progress Reports</a></li>
      </ul>
      Still have questions? Feel free to contact the developers of Instafeed at instafeed@uwcse403.com
    </p>
  </div>
{% endblock %}
