<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Feed</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"  
            type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <link href="Feed.css" type="text/css" rel="stylesheet" />
	    <script src="Feed.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rochester">
    </head>
    <body>
        <div id="topBar">Instafeed
            <button id="post">Post</button>
        </div>
        <div id="postPopup">
            <textarea id="postText" placeholder="Enter Post..."></textarea>
            <button id="submitPost">Submit Post</button>
        </div>
        <div id="feeds">
            <button id="twitterRefresh">Refresh Feed</button>
            <button id="facebookRefresh">Refresh Feed</button>
            
            <div id="facebookFeed">

            </div>

            <div id="twitterFeed">
            </div>
        </div>
    </body>
</html>
