{% load url from future %}
{% load i18n %}{% autoescape off %}
{% with "Instafeed" as site_name %}
{% with "dry-peak-6840.herokuapp.com" as domain %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endwith %}
{% endautoescape %}
