{% extends "base_dashboard.html" %}

{% block stylesheets %}
  <link href="/static/css/schedule.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
  <script src="/static/js/bootstrap.js" type="text/javascript"></script>
  <script src="/static/js/schedule.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <legend>Scheduled Posting</legend>
  <div id="scheduleForm">
    <label>When</label>
    <div id="schedulers">
      <div id="datepicker"></div>
      <div id="timepicker"></div>
    </div>
    <p id="invalid-date">Date/time has already passed</p>
    <label>Content</label>
    <textarea rows="5" id="updateContent"></textarea>
    <div class="form-inline" id="postOption">
      <label class="checkbox">
        <input type="checkbox" disabled="true" checked="true" id="postOptionTwitter">Twitter
      </label>
      <br>
      <label class="checkbox">
            <input type="checkbox" disabled="true" id="postOptionFacebook">Facebook (Coming Soon)
        </label>
        <span id="textCount"></span>
    </div>
    <button class="btn btn-primary" id="sumbitScheduledPost">Submit Schedule</button>
  </div>
  <div id="scheduledPosts">
     <table class="table">
      <tr class="header">
        <th>Date</th>
        <th>Message</th>
      </tr>
    {% for post in posts %}
    {% include "schedule_post.html" %}
    {% endfor %}
    </table>
  </div>
{% endblock %}
