{% extends "base_dashboard.html" %}

{% block stylesheets %}
  <link href="/static/css/schedule.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
  <script src=/static/js/bootstrap.js type="text/javascript"></script>
  <script src="/static/js/schedule.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <legend>Scheduled Posting</legend>
  <form>
    <label>When</label>
    <select id="scheduleYear">
      <option value="0">Year</option>
      {% for i in year_list %}
        <option value="{{i}}">{{i}}</option>
      {% endfor %}
    </select>
    <select id="scheduleMonth">
      <option value="0">Month</option>
      {% for i in month_list %}
        <option value="{{i}}">{{i}}</option>
      {% endfor %}
    </select>
    <select id="scheduleDay">
      <option value="0">Day</option>
      {% for i in day_list %}
        <option value="{{i}}">{{i}}</option>
      {% endfor %}
    </select>
    <label>Content</label>
    <textarea rows="5" id="updateContent"></textarea>
    <div class="form-inline" id="postOption">
        <label class="checkbox">
            <input type="checkbox" checked="checked" id="postOptionFacebook">Facebook
        </label>
        <label class="checkbox">
            <input type="checkbox" checked="checked" id="postOptionTwitter">Twitter
        </label>
        <span id="textCount"></span>
    </div>
    <button class="btn btn-primary" id="SumbitScheduledPost">Submit Schedule</button>
  </form>
{% endblock %}
