{% extends "base.html" %}
{% block stylesheets %}
<link href='/static/css/index.css' rel='stylesheet' type='text/css'>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/signup.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <legend><h1><a href="/">Instafeed</a></h1></legend>
    <div class="row span5 offset2">
      <form id="signup-form" class="form-horizontal" action="/signup/" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="control-group fieldWrapper">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
            {{ form.email }}
            {{ form.email.errors }}
          </div>
        </div>
        <div class="control-group fieldWrapper">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            {{ form.password1 }}
            {{ form.password1.errors }}
          </div>
        </div>
        <div class="control-group fieldWrapper">
          <label class="control-label" for="inputPassword">Password again</label>
          <div class="controls">
            {{ form.password2 }}
            {{ form.password2.errors }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" id="set-cookies"> Remember me
            </label>
            <label class="checkbox">
              <input type="checkbox" id="agreement-checkbox"> Accept Agreement ( <a href="#agreement" data-toggle="modal">details</a> )
            </label>
          </div>
          <div class="modal hide" id="agreement">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3>Instafeed Agreement</h3>
            </div>
            <div class="modal-body">
              <p>The following are dummy texts.</p>
              <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
              </p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">Close</a>
              <a href="#" class="btn btn-primary" data-dismiss="modal">Accept</a>
            </div>
          </div>
          <div class="controls">
            <input type="submit" class="btn btn-primary" id="signup-submit" value="Sign up"/>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
