Django==1.4.1
Flask==1.0
Jinja2==2.6
Werkzeug==0.7.1
apiclient==1.0.2
certifi==0.0.8
chardet==2.1.1
dj-database-url==0.2.0
django-email-as-username==1.6.2
google-api-python-client==1.0
httplib2==0.7.6
mox==0.5.3
oauth2client==1.0
python-gflags==2.0
pytz==2012h
requests==0.10.4
simplejson==2.2.1
tweepy==1.11
urllib3==1.5
wsgiref==0.1.2
