body{
    background-color: #87CEFA;
}

.container {
  width: 1200px;
}

#post{
    float:  right
    height: 45px;
}

#postButton {
    position: absolute;
    top: 5px;
    right: 9px;
    z-index: 1030;
}

#postBox #postOption {
    text-align: center;
}

#postBox #postOption .checkbox {
    margin-left: 10px;
    margin-right: 10px;
}

#postBox #postOption input[type="checkbox"] {
    margin-left: 10px;
    margin-right:10px;
}

textarea#postText {
    resize: none;
    width: 500px;
    margin-left: 8px;
}

.FeedPost {
    border: 1pt solid black;
    width: 99.5%;
    overflow: hidden;
}

.NameTime {
    font-size: small;
}

.message {
   font-size: medium;
   float: left;
   display: block;
   width: 275px; /* set the width of the text of a post */
}

.logo {
    float: right;
}

.user_img {
    float: left;
    margin-right: 5px;
    max-width: 50px;
    max-height: 50px;
}

.refreshButton {
  width: 25px;
  height: 25px;
  margin-top: -38px;
  margin-right: 2px;
  float: right;
  background-position: -235px -19px;
}

.refreshButton:hover {
  background-color: #888;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#feeds {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.feedsDisplayCol {
  display: inline-block;
  border:  1pt solid black;
  width: 360px;
  height: 600px;
  background-color: white;
  overflow: auto;
  margin-left: 12px;
}

.feedsDisplayCol .header {
  margin-top: 0px;
  width: 100%;
  height: 30px;
  background-color: #666666;
  color: #FFFFFF;
}

.feedsDisplayCol .header h2 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 0px;
  margin-left: 5px;
  line-height: 30px;
}
