body{
    background-color: #87CEFA;
}
#topBar {
    height:  50px;
    border:  1pt solid black;
    background-color: black;
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: 'Rochester';
}

#post{
    float:  right;
    height: 45px;
}

#postPopup {
    z-index: 100;
    right: 50px;
    top: 50px;
    height: 200px;
    width:  500px;
    border:  2pt solid black;
    background-color: white;
    position:  absolute;
    display:  none;
}

#postText {
    resize: none;
    height:  100px;
    width: 400px;
    margin-top: 15px;
    margin-left: 50px;
}

#submitPost {
    width:  100px;
    margin-left: 200px;
}
#feeds{
    margin-top: 25px;
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.FeedPost {
    border: 1pt solid black;
    width: 99.5%;
}

.NameTime {
    font-size: small;
}

.Message {
   font-size: medium;
}

.logo {
    float: left;
    margin-right: 5px;
}
#twitterFeed, #facebookFeed{
    border:  1pt solid black;
    width: 35%;
    height: 450px;
    background-color: white;
    overflow: auto;
}

#twitterFeed, #twitterRefresh{
   float: left;
}

#facebookFeed, #facebookRefresh{
    float:  right;
}
