select {
  width: auto;
}

button {
  margin-top: 10px;
}

.container {
  width: 1130px;
  text-align: center;
}

form {
  text-align: left;
  width: 250px;
  margin: 5px auto;
}
#scheduleForm {
  float: left;
  width: 625px;
  border-right: 1px solid gray;
}
#schedulers
{
  overflow: auto;
}
#scheduledPosts {
  float: left;
  width: 499px;
}
#scheduledPosts table {
  padding-left: 25px;
  border-collapse: separate;
}
#updateContent
{
  width: 400px;
  height: 200px;
  resize: none;
}
#textCount {
  font-weight: 2em;
  margin-right: 8px;
}
#invalid-date
{
  color: red;
  display: none;
}
#datepicker
{
  float: left;
  height: auto;
  margin-right: 10px;
}
.ui-datepicker
{
  width: 14em;
}
.form-inline .checkbox input[type="checkbox"] {
  margin-right: 0px;
}
